/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/**/*.sqlite
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
server.php
/bootstrap
.DS_STORE
/public/testimonialAvatar
/public/testimonialAvatar/
/public/clientAvatar
/public/clientAvatar/
/public/upload/images
/public/upload/images/
/public/uploads
/public/extensions
/resources/extensions

#extensions
app/Http/Controllers/AIWebChatController.php
app/Http/Controllers/NewsLetterController.php
public/themes/default/assets/img/webchat.png
public/themes/default/assets/js/panel/openai_webchat_low.js
public/themes/default/assets/js/panel/openai_webchat.js
resources/views/default/components/navbar/extnavbars/webchat_header.blade.php
resources/views/default/panel/user/openai_chat/webchat.blade.php
resources/views/default/panel/user/openai_chat/components/empty_webchat_area_container.blade.php
resources/views/default/panel/user/openai_chat/components/webchat_area_container.blade.php
resources/views/default/panel/user/openai_chat/components/webchat_area.blade.php
resources/views/default/panel/user/openai_chat/components/webchat_sidebar_list.blade.php
resources/views/default/panel/user/openai_chat/components/webchat_sidebar.blade.php
routes/extroutes/newsletter_route.php
routes/extroutes/webchat_route.php
app/Http/Controllers/PlagiarismController.php
resources/views/default/components/navbar/extnavbars/plagiarism_header.blade.php
resources/views/default/components/navbar/extsettingnavbars/plagiarism_nav.blade.php
resources/views/default/panel/admin/settings/plagiarism_setting.blade.php
resources/views/default/panel/user/openai/detectaicontent/index_detectaicontent.blade.php
resources/views/default/panel/user/openai/plagiarism/index.blade.php
routes/extroutes/plagiarism_route.php